<div>
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a class="btn btn-mini edit_container"><i class="icon-pencil"></i></a>
            <a class="btn btn-mini delete_container"><i class="icon-trash"></i></a>
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i></a>
            <ul class="dropdown-menu">
                <li><a class="add_container">Container</a></li>
                <li><a class="add_item">Item</a></li>
            </ul>
        </div>
    </div>
    <div class="name">{{name}}</div>
</div>
<ul class="sortable">
</ul>